.ipynb_checkpoints/
data
*.pyc
*.ipynb
shapenetcore_partanno_segmentation_benchmark_v0/
*.so
.idea*
cls
seg/
*.egg-info/
env
online_carla/carla/__pycache__
online_carla/core
*.ply
online_carla/**/*.png
online_carla/**/driving_data.csv
core
clustering/IIC/datasets/**/*.png
